version: '3'

volumes:
  mongo-data:


services:
  recipe-webapp-prod:
    image: ghcr.io/caimito/recipe-webapp:latest
    profiles: [ 'prod' ]
    restart: unless-stopped
    environment:
      - PROFILE=production
      - VUE_APP_API_URL=http://recipe-api-prod:8080
    ports:
      - 8080:80
  mongo:
    image: mongo
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db
  recipe-api-prod:
    image: ghcr.io/caimito/recipe-backend:latest
    profiles: [ 'prod' ]
    environment:
      - PROFILE=production
      - SPRING_DATA_MONGODB_HOST=mongo
    restart: unless-stopped
    ports:
      - 8080:8080
    links:
      - mongo
    depends_on:
      - mongo
