version: '3'

volumes:
  mongo-data:


services:
  recipe-webapp:
    image: ghcr.io/caimito/recipe-webapp:${TAG}
    restart: unless-stopped
    environment:
      PROFILE: ${PROFILE}
    ports:
      - 8080:80
  mongo:
    image: mongo
    restart: unless-stopped
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db
  recipe-api:
    image: ghcr.io/caimito/recipe-api:${TAG}
    restart: unless-stopped
    environment:
      PROFILE: ${PROFILE}
      SPRING_DATA_MONGODB_HOST: mongo
    ports:
      - 8080:8080
    links:
      - mongo
    depends_on:
      - mongo
